<style>@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

</style>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #3a5a40;
    text-align: justify;
    background-color: #dad7cd;
    padding: 20px;
    font-size: 1em;
}

h1,
h2 {
    font-family: "Agdasima", serif;
    color: #588157;
}

#semi,
#tendencias {
    font-weight: 700;
}

#tendencias {
    text-transform: capitalize;
}


h1 {
    text-align: center;
    font-size: 2em;
    padding: 5px;
}

h2 {
    text-decoration: underline;
    text-align: left;
    padding: 5px;
    font-size: 1.5em;
    /*agregue esto*/
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    flex-wrap: nowrap;
}

.image-column {
    flex: 0 0 20%;
    margin: 0 5px;
    border: 2px solid #588157;
    transition-property: border;
    transition-duration: 0.3s;
}

.image-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 0.3s;
}

.image-column:hover {
    transform: scale(1.05);
    border-color: #a3b18a;
}

.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 2px solid #588157;
    width: 100%;
    max-width: 80%;
}

.center-image-container img {
    width: 100%;
    height: auto;
    transition-property: border;
    transition-duration: 0.3s;
    line-height: 1.5;
    max-width: 100%;
}

@media (max-width: 768px) {
    .image-column {
        margin: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.75em;
    }

    h2 {
        font-size: 1.2em; /*agregue esto*/
    }
}

@media (max-width: 768px) {
    .center-image-container img {
        width: 100%;
    }

    .center-image-container {
        max-width: 90%;
    }
}

footer {
    background-color: #344e41;
    color: #dad7cd;
    text-align: right;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}